<% content_for :head do %>
  <style>
    main.index { text-align:center; }
    main.index td, main.index th { text-align:left; white-space:normal; }
    main.index td a { white-space:nowrap; }
  </style>
<% end %>

<main class="index">
  <h1>CalcHaven</h1>
  <p>A forest of shareable calculators...begins with a single seedling</p>
  <br />
  <table style="max-width: 600px;">
    <thead>
      <tr><th>Calc</th><th style="text-align:left">What it's for</th></tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="cold-calling">Cold Calling Sales</a></td>
        <td>See twelve months of customer, revenue, costs and profit growth for your SaaS or other subscription business as you hit the phones hard.</td>
      </tr>
    </tbody>
  </table>
</main>
